/**********************************\
    $VARIABLES
\**********************************/
/*********************************\
        $MIXINS
\*********************************/
/*********************************\
        $RESETS
\*********************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

picture {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  color: #000000;
}

/*********************************\
        $HEADERS
\*********************************/
.header {
  position: fixed;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 30px 0;
  background-color: black;
}
.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 200px;
}

/**********************************\
$NAVS
\**********************************/
.navegacion, .navegacion--general, .navegacion--principal {
  position: fixed;
}
.navegacion:hover .navegacion__opcion:not(.navegacion__opcion:hover), .navegacion--general:hover .navegacion__opcion:not(.navegacion__opcion:hover), .navegacion--principal:hover .navegacion__opcion:not(.navegacion__opcion:hover) {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: black;
}
.navegacion:hover a:not(a:hover), .navegacion--general:hover a:not(a:hover), .navegacion--principal:hover a:not(a:hover) {
  color: white;
}
.navegacion:hover img:not(.navegacion__opcion:hover img), .navegacion--general:hover img:not(.navegacion__opcion:hover img), .navegacion--principal:hover img:not(.navegacion__opcion:hover img) {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.navegacion ul, .navegacion--general ul, .navegacion--principal ul {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
}
.navegacion ul:hover, .navegacion--general ul:hover, .navegacion--principal ul:hover {
  background-color: #f6df1c;
}
.navegacion__opcion {
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 5px solid black;
  background-color: #f6df1c;
}
.navegacion a, .navegacion--general a, .navegacion--principal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  height: 100%;
  padding: 25px 10px 25px;
  cursor: pointer;
}
.navegacion img, .navegacion--general img, .navegacion--principal img {
  width: 80px;
  height: 80px;
}
.navegacion__taller {
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
.navegacion__title {
  font-size: 24px;
}
.navegacion__descripcion {
  margin-top: 18px;
}

.navegacion--principal {
  right: 0;
  top: 0;
  max-width: 530px;
}
.navegacion--principal .navegacion__opcion {
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}
.navegacion--principal .navegacion__opcion:first-of-type {
  border-top: 5px solid black;
}
.navegacion--principal .navegacion__opcion:last-of-type {
  border-bottom: 5px solid black;
}
.navegacion--principal .navegacion__opcion:hover {
  border-color: #f6df1c;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.navegacion--general {
  bottom: 0;
  margin-left: 100px;
}
.navegacion--general:hover .navegacion__opcion:not(.navegacion__opcion:hover) {
  border-top-color: yellow;
}
.navegacion--general ul {
  height: auto;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: none;
  grid-template-rows: none;
}
.navegacion--general ul > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.navegacion--general ul > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.navegacion--general ul > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.navegacion--general .navegacion__opcion {
  border-left-width: 3px;
  border-right-width: 3px;
}
.navegacion--general li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-color: #f6df1c;
}

/**********************************\
    $MAINS
\**********************************/
.main--general, .main--principal {
  margin-left: 100px;
  padding: 50px 30px;
}

.main__subtitle {
  margin-bottom: 28px;
  font-size: 24px;
  color: #97c93e;
  text-transform: uppercase;
}
.main__title {
  font-size: 48px;
  margin-bottom: 36px;
}
.main--principal {
  padding-right: 560px;
}
.main--general {
  padding-bottom: 180px;
}
.main__container-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**********************************\
    $FORMS
\**********************************/
.form--circulo, .form--cuadrado, .form--triangulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin-top: 40px;
}
.form--circulo span, .form--cuadrado span, .form--triangulo span {
  font-weight: 700;
}

.form--cuadrado {
  display: none;
}
.form--circulo {
  display: none;
}
.form__label {
  margin-bottom: 5px;
  font-size: 14px;
}
.form__campo {
  padding: 5px 10px;
  margin-bottom: 10px;
}

/*********************************\
        $PRINCIPALS
\*********************************/
/* .principal {
  display: grid;
  grid-template-columns: 100px 1fr 538px;
}
 */
/*********************************\
        $LOGOS
\*********************************/
.logo--js {
  width: 50px;
  height: 50px;
}
.logo--platzi {
  width: 100px;
  height: 31px;
  -webkit-transform: rotate(-90deg) translateX(60px);
          transform: rotate(-90deg) translateX(60px);
  margin-top: auto;
}

/*********************************\
        $AUTORS
\*********************************/
.autor {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-transform: rotate(-90deg) translateX(-70px);
          transform: rotate(-90deg) translateX(-70px);
  color: #f6df1c;
  text-transform: uppercase;
}
.autor::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0%;
  /* transform: scaleY(20); */
  background-color: yellow;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.autor:hover::after {
  width: 100%;
}

/**********************************\
    $FIGURAS
\**********************************/
.figuras {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-min-content)[3];
  -ms-grid-columns: (min-content)[3];
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 60px;
}
.figuras__container {
  padding: 20px;
  text-align: center;
  background-color: #f6df1c;
  border-radius: 10px;
  cursor: pointer;
}
.figuras img {
  width: 128px;
}

/**********************************\
    $BOTONS
\**********************************/
.btn--calcular {
  margin-top: 10px;
  padding: 5px 10px;
  border: 2px solid black;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--calcular {
  background-color: #97c93e;
}