/**********************************\
    $VARIABLES
\**********************************/
/*********************************\
        $MIXINS
\*********************************/
/*********************************\
        $RESETS
\*********************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

picture {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*********************************\
        $PRINCIPALS
\*********************************/
.principal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 538px;
  grid-template-columns: 100px 1fr 538px;
}

/*********************************\
        $HEADERS
\*********************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 30px 0;
  background-color: black;
}
.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 200px;
}

/**********************************\
    $NAVS
\**********************************/
.navegacion:hover .navegacion__opcion:not(.navegacion__opcion:hover) {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: black;
  color: white;
}
.navegacion ul {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
}
.navegacion ul:hover {
  background-color: #f6df1c;
}
.navegacion__opcion {
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 5px solid black;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
  background-color: #f6df1c;
}
.navegacion__opcion:first-of-type {
  border-top: 5px solid black;
}
.navegacion__opcion:last-of-type {
  border-bottom: 5px solid black;
}
.navegacion__opcion:hover {
  border-color: #f6df1c;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.navegacion a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding: 25px 10px 25px;
}
.navegacion img {
  width: 80px;
  height: 80px;
}
.navegacion__taller {
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
.navegacion__title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.navegacion__descripcion {
  margin-top: 18px;
}

/*********************************\
        $LOGOS
\*********************************/
.logo--js {
  width: 50px;
  height: 50px;
}

.logo--platzi {
  width: 100px;
  height: 31px;
  -webkit-transform: rotate(-90deg) translateX(60px);
          transform: rotate(-90deg) translateX(60px);
  margin-top: auto;
}

/*********************************\
        $AUTORS
\*********************************/
.autor {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-transform: rotate(-90deg) translateX(-70px);
          transform: rotate(-90deg) translateX(-70px);
  color: #f6df1c;
  text-transform: uppercase;
}
.autor::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0%;
  /* transform: scaleY(20); */
  background-color: yellow;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.autor:hover::after {
  width: 100%;
}