/**********************************\
    $FORMS
\**********************************/
.form {
  display: none;
  flex-direction: column;
  width: 400px;

  &__label {
    margin: 5px 0;
    font-size: map-get($map: $font-sizes, $key: normal);
  }
  &__campo {
    padding: 7px 10px;
    margin: 5px 0;
    border: 1px solid map-get($colors-background, black);
  }
  span {
    font-weight: map-get($map: $font-weights, $key: big);
  }
  &__selec-container {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: map-get($font-sizes, x-big);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
  &__select-container {
    height: min-content;
    min-width: 120px;
    width: min-content;
    margin-bottom: 10px;
    padding-right: 8px;
    outline: 2px solid black;
  }
  &__select {
    padding: 8px 10px;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 700;
  }
}
