/**********************************\
$NAVS
\**********************************/
.navegacion {
  position: fixed;
  z-index: map-get($z-indexs, default);
  &:hover &__opcion:not(.navegacion__opcion:hover) {
    transition: background-color 0.3s;
    background-color: selec-colorBackground(black);
  }
  &:hover a:not(a:hover) {
    color: white;
  }
  &:hover img:not(.navegacion__opcion:hover img) {
    filter: invert(100%);
  }
  ul {
    display: grid;
    background-color: selec-colorBackground(black);
  }
  ul:hover {
    background-color: selec-colorBackground(yellow);
  }
  &__opcion {
    transition-property: transform, border-color;
    transition-duration: 0.3s;
    border: 5px solid map-get($colors-background, black);
    background-color: selec-colorBackground(yellow);
  }
  a {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 100%;
    padding: 25px 10px 25px;
    cursor: pointer;
  }
  img {
    width: 80px;
    height: 80px;
  }
  &__taller {
    margin-bottom: 5px;
    font-size: selec-fontSize(big);
    text-transform: uppercase;
  }
  &__title {
    font-size: selec-fontSize(x-big);
  }
  &__descripcion {
    margin-top: 18px;
  }
}
.navegacion-- {
  &principal {
    @extend .navegacion;
    right: 0;
    top: 0;
    max-width: 530px;
    ul {
      height: 100vh;
      grid-template-rows: repeat(4, 1fr);
    }
    .navegacion__opcion {
      border: {
        top: 3px solid map-get($colors-background, black);
        bottom: 2px solid map-get($colors-background, black);
      }
    }
    .navegacion__opcion:first-of-type {
      border-top: 5px solid map-get($colors-background, black);
    }
    .navegacion__opcion:last-of-type {
      border-bottom: 5px solid map-get($colors-background, black);
    }
    .navegacion__opcion:hover {
      border-color: map-get($colors-background, yellow);
      transform: translateX(-10px);
    }
  }

  &general {
    @extend .navegacion;
    bottom: 0;
    margin-left: 100px;
    &:hover .navegacion__opcion:not(.navegacion__opcion:hover) {
      border-top-color: yellow;
    }
    ul {
      height: auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
      background-color: selec-colorBackground(yellow);
    }
    .navegacion__opcion {
      border: {
        left-width: 3px;
        right-width: 3px;
      }
    }
    li:hover {
      transform: translateY(-10px);
      border-color: selec-colorBackground(yellow);
    }
  }
}
