/**********************************\
    $FIGURAS
\**********************************/

.figuras {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;

  &__container {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: map-get($colors-background, yellow);
    border-radius: 10px;
    cursor: pointer;
  }
  img {
    width: 128px;
  }
  &__element {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}
