/**********************************\
    $LISTAS
\**********************************/
.lista {
  &__title {
    padding-top: 20px;
    font-size: selec-fontSize(x-big);
  }
  &__container {
    margin-top: 20px;
    font-size: selec-fontSize(normal);
  }
}
