/*********************************\
        $MIXINS
\*********************************/

@mixin dimensionImg($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-size($size-px) {
  font-size: calcularREM($size-px);
  line-height: calcularREM($size-px) * 1.5;
}

@mixin ajustarFontSizeLabel($fontSizeLabel) {
  margin: 5px 0;
  font-size: selecFontSize($fontSizeLabel);
}
