/**********************************\
    $VARIABLES
\**********************************/

//TEXT COLORS
$colors-text: (
  yellow: #f6df1c,
  white: white,
);

//BACKGROUND COLORS
$colors-background: (
  black: black,
);

//FONTS
$font-principal: "Open Sans", sans-serif;
$font-secundaria: "Poppins", sans-serif;

//FONT SIZES
$font-sizes: (
  x-samll: 8px,
  small: 12px,
  normal: 14px,
  default: 16px,
  big: 18px,
  x-big: 24px,
  u-big: 52px,
);

//COLORS BACKGROUNDS
$colors-background: (
  black: black,
  yellow: map-get($colors-text, yellow),
);

//FONTS WEIGHT
$font-weights: (
  big: 700,
);
