/**********************************\
    $VARIABLES
\**********************************/

//TEXT COLORS
$colors-text: (
  yellow: #F6DF1C,
);

//BACKGROUND COLORS
$colors-background: (
  black: black
);
  
//FONTS 
$font-principal: "Open Sans", sans-serif;
  
//FONT SIZES
$font-sizes: ( 
  x-samll: 8px,
  small: 12px,
  normal: 14px,
  default: 16px,
  big: 18px,
  x-big: 24px,
  u-big: 52px,
);

//COLORS BACKGROUNDS
$colors-background: (
  black: black,
);


//FONTS WEIGHT
$font-weights:(
  big: 700
);